<?xml version="1.0"?>
<configuration>
  <connectionStrings>

    <!--資料庫連線設定-->

    <add name="BeerGameConnection" connectionString="Data Source=XMIMICX-PC;Initial Catalog=BeerGame;Integrated Security=True"
     providerName="System.Data.SqlClient" />

  </connectionStrings>
	<system.web>
		<trace enabled="true" localOnly="false" />
  <customErrors defaultRedirect="" />
  <compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Client, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>    
	</system.web>
  <appSettings>
    <!-- ==============================資料庫定義============================== -->
    <add key="ACCOUNT" value="[BeerGame].[dbo].[Account]"/>
    <add key="GAMELIST" value="[BeerGame].[dbo].[GameList]"/>
    <add key="GAMERECORD" value="[BeerGame].[dbo].[GameRecord]"/>
    <add key="MARKETING_REQUEST" value="[BeerGame].[dbo].[Marketing_Request]"/>
    <add key="SCENARIO" value="[BeerGame].[dbo].[Scenario]"/>
    <add key="SUPPLYCHAIN" value="[BeerGame].[dbo].[SupplyChain]"/>
    <!-- ==============================系統路徑定義============================== -->
    <add key="DIR" value="/"/>
    <add key="IMAGE_DIR" value="/EventImage/"/>
    <add key="CSS_DIR" value="/css/"/>
    <add key="JS_DIR" value="/javascript/"/>
  </appSettings>
</configuration>
